
<div class="container pt-5">
  <!-- Button Add Inspaction  trigger modal -->
  <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
  (click)="modalAdd()"
  >
    Add Inspection
  </button>

  <!-- Button Inspaction Type trigger modal -->
  <button type="button" class="btn btn-secondary float-end pt-10" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Show Inspection Types
    </button>

  <table class="table table-striped">
      <tbody>
          <th>Id</th>
          <th>Inspection Type</th>
          <th>Status</th>
          <th>comments</th>
          <th>options</th>
      </tbody>
      <tbody>
          <tr *ngFor="let item of inspactionList$ | async">
              <td>{{item.inspactionId}}</td>
              <td>{{inspactionTypesMap.get(item.inspactionTypeId)}}</td>
              <td>{{item.status}}</td>
              <td>{{item.comments}}</td>
              <td>
                <button class="btn btn-outline-primary me-2 mb-1" (click)="modalEdit(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </button>
                <button class="btn btn-outline-danger me-2 mb-1" (click)="delete(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                  </svg>
                </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<div class="alert alert-success" role="alert" id="add-success-alert">
  Inspection successfully added!
</div>

<div class="alert alert-warning" role="alert" id="update-success-alert">
  Inspection successfully updated!
</div>

<div class="alert alert-danger" role="alert" id="delete-success-alert">
  Inspection successfully deleted!
</div>

  <!-- Add Inspaction Type Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inspection Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngFor="let type of inspactionTypeList$|async">{{type.inspactionTypeId}} - {{type.inspactionName}}</p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

<!-- Add Or Edit Inspaction Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modalTitle}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modalClose()" id="add-edit-modal-close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-edit-inspaction [inspaction]="inspaction" *ngIf="activatedAddEditInspectionComponent"></app-add-edit-inspaction>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>
